:root {
    --tabWidth: 135px;
}

body {
    background-color: #000;
    background-image: url(backgroundLow.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    user-select: none;
    overflow: hidden;
}
.backgroundHigh {
    background-image: url(backgroundHigh.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/* ------------------------ Header ------------------------ */

#header {
    background-color: #14141480;
    width: 100%;
    height: 72px;
    top: 0px;
    position: absolute;
    display: flex;
    border-bottom: 2px solid #00000040;
}

.logo {
    width: 270px;
    height: 45px;
    top: 14px;
    left: 13px;
    position: absolute;
}

#tabContainer {
    height: 38px;
    margin-top: 17px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.tabButton {
    background-color: #00000000;
    color: #FFF;
    width: var(--tabWidth);
    height: 100%;
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.08s ease-out;
}
.tabButton:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

#socialContainer {
    width: 168px;
    height: 32px;
    top: 20px;
    right: 16px;
    position: absolute;
    display: flex;
}
.socialButton {
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
    transition: 0.1s ease-out;
}
.socialButton:hover {
    filter: brightness(80%);
}
.socialButton:active {
    filter: brightness(70%);
}



/* ------------------------ Main window ------------------------ */

#mainContainer {
    width: 440px;
    height: 583px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}

.box {
    background-color: #14141480;
    width: 440px;
    position: absolute;
    border-radius: 8px;
    box-shadow: inset 0 0 0 2px #00000040;
}
.icon {
    padding-top: 16px;
    padding-left: 16px;
}
.boxLabel {
    color: #FFF;
    text-align: center;
    padding-top: 17.5px;
    padding-left: 10px;
    font-size: 17px;
    position: absolute;
    display: inline-block;
}

.mainBox {
    height: 457px;
}



.listBox {
    width: 408px;
    height: 381px;
    margin: 16px;
    margin-top: 12px;
}
/* This is separated so that the styles don't get overrided by the transparent scrollbar */
.entryContainer {
    width: 105%;
    height: calc(100% - 15px);
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 9px;
    overflow: auto;
    scrollbar-color: transparent transparent;
}
#entryContainer::-webkit-scrollbar {
    width: 0px;
}


.textContainer {
    display: none;
    width: 95%;
    color: #FFF;
    padding-left: 12px;
    padding-top: 5px;
    user-select: text;
    padding-bottom: 6px;
}
a[link] {
    text-decoration: underline;
    color: #00847DC9;
}
a[link]:hover {
    color: #00847E;
}


.listEntry {
    background-color: #00000000;
    width: 379px;
    height: 24px;
    margin-left: 11px;
    margin-top: 7px;
    margin-bottom: 0px;
    padding-top: 4px;
    padding-left: 7px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    display: block;
    transition: 0.05s ease-out;
}
.listEntry:hover {
    background-color: #45454540;
}


.downloadBox {
    height: 108px;
    bottom: 0px;
}

.downloadButton {
    color: #FFF;
    bottom: 0px;
    width: 170px;
    height: 36px;
    margin: 16px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.1s ease, background-color 0.05s ease, opacity 0.2s ease;
}

.download1 {
    background-color: #00847E;
    right: 0px;
}
.download1:hover {
    background-color: #00847E90;
}
.download1:active {
    background-color: #00847E50;
}

.download2 {
    background-color: #2F4342;
    left: 52px;
}
.download2:hover {
    background-color: #2F434290;
}
.download2:active {
    background-color: #2F434250;
}

.info {
    background-color: #FFFFFF0D;
    background-image: url(info.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    left: 0px;
    transition: 0.2s ease;
}
.info:hover {
    background-color: #FFFFFF13;
}
.info:active {
    background-color: #FFFFFF1A;
}



.loading {
    color: #FFF;
    width: auto;
    height: auto;
    padding: 17px;
    padding-top: 13px;
    padding-bottom: 11px;
    bottom: 16px;
    right: 16px;
    position: absolute;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.75;
    display: flex;
    align-items: center;
    justify-content: center;
}